<div class="row">
    <div class="col-xs-12">
        <p>Add new servers or blueprints</p>
        <label>Server name</label>
        <!--<input type="text" class="form-control" [(ngModel)]="serverName">-->
        <input 
        type="text" 
        class="form-control"
        #serverNameInput
         >
        <label>Server content</label>
        <input type="text" class="form-control" [(ngModel)]="serverContent">
        <br>
        <button 
            class="btn btn-primary" 
            (click)="onCreateServer(serverNameInput)">Add Server</button>
        <button 
            class="btn btn-primary" 
            (click)="onCreateBlueprint(serverNameInput)">Add Server Blueprint</button>
        <hr>
    </div>
</div>