<label>Server name</label>
<input type="text" class="form-controll" [(ngModel)]="serverName">
<button class="btn btn-primary" 
[disabled] = "!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<hr>
<label>User name</label>
<input type="text" class="form-controll" [(ngModel)]="userName">
<button class="btn btn-primary" 
[disabled] = "userName === ''"
(click)="onResetUser()">Reset user</button>
<hr>
<button class="btn btn-primary" 
(click)="onDetailsClick()">Display details</button>
<p *ngIf="showDetails">secret passowrd = dupa</p>
<p 
    *ngFor="let logItem of showDetailsLog"
    [ngStyle]="{backgroundColor: logItem > 5? 'blue': 'transparent'}"
    [ngClass]="{'white-text': logItem > 5}">{{logItem}}</p>

<hr>
<p>{{userName}}</p>
<p>{{serverName}}</p>
<p>{{allowNewServer}}</p>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">server was created: {{serverName}}</p>
<ng-template #noServer>
<p>NO server was created</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
